@page "/questions/delete"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Question</h2>
    <hr />
    @if (question is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Text</dt>
            <dd class="col-sm-10">@question.Text</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OptionA</dt>
            <dd class="col-sm-10">@question.OptionA</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OptionB</dt>
            <dd class="col-sm-10">@question.OptionB</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OptionC</dt>
            <dd class="col-sm-10">@question.OptionC</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OptionD</dt>
            <dd class="col-sm-10">@question.OptionD</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CorrectAnswer</dt>
            <dd class="col-sm-10">@question.CorrectAnswer</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ImageUrl</dt>
            <dd class="col-sm-10">@question.ImageUrl</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ReadingPassage</dt>
            <dd class="col-sm-10">@question.ReadingPassage</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ExamId</dt>
            <dd class="col-sm-10">@question.ExamId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@question.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@question.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@question.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@question.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="question" OnValidSubmit="DeleteQuestion" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(question is null)">Delete</button> |
            <a href="/questions">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Question? question;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        question = await context.Questions.FirstOrDefaultAsync(m => m.Id == Id);

        if (question is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteQuestion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Questions.Remove(question!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/questions");
    }
}
