@page "/attempts/delete"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Attempt</h2>
    <hr />
    @if (attempt is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Score</dt>
            <dd class="col-sm-10">@attempt.Score</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@attempt.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ExamId</dt>
            <dd class="col-sm-10">@attempt.ExamId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@attempt.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@attempt.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@attempt.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@attempt.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="attempt" OnValidSubmit="DeleteAttempt" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(attempt is null)">Delete</button> |
            <a href="/attempts">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Attempt? attempt;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        attempt = await context.Attempts.FirstOrDefaultAsync(m => m.Id == Id);

        if (attempt is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAttempt()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attempts.Remove(attempt!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/attempts");
    }
}
