@page "/attempts/details"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Attempt</h2>
    <hr />
    @if (attempt is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Score</dt>
            <dd class="col-sm-10">@attempt.Score</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@attempt.UserId</dd>
            <dt class="col-sm-2">ExamId</dt>
            <dd class="col-sm-10">@attempt.ExamId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@attempt.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@attempt.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@attempt.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@attempt.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/attempts/edit?id={attempt.Id}")">Edit</a> |
            <a href="@($"/attempts")">Back to List</a>
        </div>
    }
</div>

@code {
    private Attempt? attempt;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        attempt = await context.Attempts.FirstOrDefaultAsync(m => m.Id == Id);

        if (attempt is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
